
@{
    ViewBag.Title = "Index";
}

<h2>MVC encoding Test</h2>

<p>@("<i>Lager</i>")</p>

<p>@Html.Label("<i>Lager</i>")</p>
<!-- If you explicitly want use a content with tags -->
<p>@Html.Raw("<i>Lager</i>")</p>
