
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form>

<div>
    <fieldset>
        <legend>Account Information</legend>

        <p>
            <label for="username">Username:</label>
            <input type="text" name="username"> Demo Reminder: "<strong>MrAnonymous</strong>"
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password"> Demo Reminder: "<strong>password</strong>"
        </p>
        <p>
            <input type="checkbox" name="rememberMe"> <label class="inline" for="rememberMe">Remember me?</label>
        </p>
        <p>
            <input type="submit" value="Log On" />
        </p>
    </fieldset>
</div>
</form>